.gaji-card {  
    display: flex;  
    border: 1px solid #000;  
    width: 90%;  
    max-width: 800px;  
    margin: 30px auto;  
    background-color: #fff; 
} 
 
.gaji-input {  
    flex: 1;  
    padding: 20px;  
    border-right: 1px solid #000;  
    text-align: left;  
} 
 
 
.gaji-input h2 {  
    font-family: "Times New Roman", serif;  
    font-size: 24px; 
} 
 
.gaji-output {  
    flex: 1;  
    padding: 20px;  
    text-align: left;  
    line-height: 1.8; 
} 
 
.gaji-output h2 { 
    border-bottom: 1px solid #000; 
    text-align: center; 
    margin-top: 0; 
} 
 
.gaji-output p { 
    font-weight: bold; 
    margin: 10px 0; 
} 
 
.input-field { 
    width: 90%; 
    padding: 5px; 
    margin: 10px 0; 
} 